<div class="bg-light">
  <div class="d-flex justify-content-between container align-self-center">
    <div class="d-flex flex-row align-self-center">
      <div class="m-2 btn align-self-center">
        <label class="navbar-brand"> TOURNAMENT.GG </label>
      </div>
      <div class="d-none d-lg-flex flex-row align-self-center">
        <div class="m-2 btn d-flex flex-column">
          <div>
            <img
              src="https://cdn.discordapp.com/attachments/1163138471196622918/1163140864357437570/370257351_657778326338320_3000149127718713003_n.png?ex=653e7e58&is=652c0958&hm=85b1d127e95ed383906c426ffc1b965388762b7319700229f4b62ec5f4826c21&"
            />
          </div>
          <label>LEAUGES</label>
        </div>
        <div class="m-2 btn d-flex flex-column">
          <div>
            <img src="../../assets/img/nav/SCRIMS.png" />
          </div>
          <label>SCRIMS</label>
        </div>
        <div class="m-2 btn d-flex flex-column">
          <div>
            <img
              src="https://cdn.discordapp.com/attachments/1163138471196622918/1163140863652794388/387344873_730245708930192_4520940304685637453_n.png?ex=653e7e58&is=652c0958&hm=456aceb3e92d9199bc83cd79393efc0a01d9ef9a597fa0b385041be350413d91&"
            />
          </div>
          <label>TOURNAMENT</label>
        </div>
        <div class="m-2 btn d-flex flex-column">
          <div>
            <img
              src="https://cdn.discordapp.com/attachments/1163138471196622918/1163140864139350148/387593649_2840731006069136_1036389285473139054_n.png?ex=653e7e58&is=652c0958&hm=260356779da873b2e5a45570cf89747f1c8935a2fc9e02316c5bad33096ed024&"
            />
          </div>
          <label>FINDER</label>
        </div>
      </div>
    </div>
    <div class="d-flex flex-row align-self-center">
      <button type="button" class="btn btn-outline-danger font-italic m-2">
        LOG IN
      </button>
      <button type="button" class="btn btn-danger font-italic m-2">
        SIGN UP
      </button>
    </div>
  </div>
</div>
